<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="/insertData" method="post">
        <input type="number" name="id" placeholder="ID" required>
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Add">
    </form>

    <h2>Users</h2>
    <table border="1">
        <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>Actions</th>
        </tr>
        <% student.forEach(user => { %>
            <tr>
                <td><%= user.userid %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="/editData?id=<%= user.userid %>">Edit</a>
                    <a href="/deleteData?id=<%= user.userid %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
